#inf {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: black; */
    background-image: linear-gradient(45deg, rgb(28, 0, 94), rgb(0, 17, 167), rgb(55, 36, 100));
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    padding-top: 120px;
}

#conection {
    /* opacity: 30%; */
    max-width: 70%;
    position: absolute;
    --x-pos: 0;
    --y-angle: calc(var(--x-pos) * 10deg);
   
    --y-pos: 0;
    --x-angle: calc(var(--y-pos) * 3deg);

    transform:
    perspective(200px)
    rotateY(var(--y-angle))
    rotateX(var(--x-angle));
}

.name_animation{
    width: 100%;
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    animation: digitando 3s steps(25), blink .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    margin-top: 40px;
    text-shadow: black 0.1em 0.1em 5px
}

.name_fullstack{
    color: white;
    font-size: 1.5rem;
    text-shadow: black 0.1em 0.1em 5px;
}

@keyframes digitando {
    from {
        width: 0;
    }
}

@keyframes blink {
    40% {
        border-color: rgba(255,255,255,0.2);
    }
}

#logo2 {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}


.pulse {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    position: relative;
}

.pulse:after, .pulse:before{
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: 50%;
    border: 1.5px dashed rgb(255, 255, 255);
    animation: pulse 1.5s linear infinite;
}

.pulse:after {
    animation-delay: .4s;
    border: 1px dotted white;
}

@keyframes pulse {
    0%{
        transform: scale(.9);
        rotate: 45deg;
        opacity: 0;
    }
    50%{
        transform: scale(1);
        rotate: 180deg;
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        rotate: 360deg;
        opacity: 0;
    }
}

.name-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    z-index: 2;
}

@media screen and (max-width: 700px) {
    .name_animation{
        width: 100%;
        font-size: 2rem;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        animation: digitando 3s steps(25), blink .4s infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid;
        margin-top: 20px;
    }

    .name-logo {
        margin-top: 50px;
    }

    .name_fullstack{
        font-size: 1rem;
    }

    #logo2 {
        width: 80px;
        height: 80px;
        
    }
    
    .pulse {
        width: 80px;
        height: 80px;
    }

    #conection {
        margin-top: 40px;
        max-width: 100%;
    }
    #inf {
        height: 300px;
    }
}
