#proj {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: rgb(0, 5, 51);
}

#proj h2 {
    font-size: xx-large;
    margin-top: 50px;
    color: white;
}